<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ecommerce.Properties.Settings.ecommerce_siteConnectionString"
            connectionString="Data Source=LAPTOP-6KE5GGAV;Initial Catalog=ecommerce_site;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Ecommerce.Properties.Settings.ecommerce_siteConnectionString1"
            connectionString="Data Source=LAPTOP-6KE5GGAV;Initial Catalog=ecommerce_site;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>